body {
  background-color: #dcdcdc; /* Light gray background */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #343a40;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .user-info {
  display: flex;
  align-items: center;
}

.navbar .user-info .bi-person-circle {
  font-size: 30px;
  margin-right: 10px;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
}

.card-header {
  background-color: #343a40;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 10px 10px 0 0;
  padding: 15px;
}
.table th, .table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}
.table th {
  background-color: #66666c;
  color: white;
}

