
.navbar {
    background-color: #343a40;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .user-info {
    display: flex;
    align-items: center;
  }
  
  .navbar .user-info .bi-person-circle {
    font-size: 30px;
    margin-right: 10px;
  }

  .sidebar {
    background-color: #4B79A1;
    color: white;
    width: 250px;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 70px; /* Adjust top position to account for the fixed navbar */
    left: 0;
  }
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }
  .sidebar a:hover {
    background-color: #2a4d7f;
  }